---
- name: Install Podman
  become: true
  ansible.builtin.apt:
    name:
      - podman
    state: present

- name: Install docker bindings
  become: true
  ansible.builtin.apt:
    name:
      - podman-docker
      - docker-compose
    state: present
  when: podman.docker_bindings | bool
