---
- name: Install git
  become: true
  ansible.builtin.apt:
    name: git
    state: present

- name: config
  include_tasks: config_section.yml
  loop: "{{ git.config | dict2items }}"
  loop_control:
    loop_var: section